<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sorykhan.libroread">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".database.BookApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibroRead"
        tools:targetApi="31">
        <activity android:name="com.sorykhan.libroread.external.DocumentActivity"
            android:label="MuPDF mini"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:exported="true"
            >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                &lt;!&ndash; list the mime-types we know about &ndash;&gt;-->
<!--                <data android:mimeType="application/pdf" />-->
<!--                <data android:mimeType="application/vnd.ms-xpsdocument" />-->
<!--                <data android:mimeType="application/oxps" />-->
<!--                <data android:mimeType="application/vnd.comicbook+zip" />-->
<!--                <data android:mimeType="application/x-cbz" />-->
<!--                <data android:mimeType="application/epub+zip" />-->
<!--                <data android:mimeType="application/x-fictionbook" />-->
<!--                &lt;!&ndash; list application/octet-stream to catch the ones android doesn't recognize &ndash;&gt;-->
<!--                <data android:mimeType="application/octet-stream" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name="com.sorykhan.libroread.external.OutlineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LibroRead.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>